#title {
    font-size: 40px;
    color: rgb(140, 53, 199);
    font-family: Arial, Helvetica, sans-serif;
}
#score {
    font-size: 25px;
    color: rgb(140, 53, 199);
    font-family: Arial, Helvetica, sans-serif;
}
#scoreButton, #speedButton {
    background-color: #e5c5ff; 
    color: #a056d1; 
    border: 3px solid #560088;
    border-radius: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 40px;
}
#disclaimer {
    font-size: 12px;
    color: rgb(140, 53, 199);
    font-family: Arial, Helvetica, sans-serif;
}
#col1{
    width: 400px;
}
#col2 {
    width: 150px;
}
#footer{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}